body {
  font-family: Fantasy;
  text-shadow: 3px 3px 3px  rgba(27, 1, 94, 0.473);
  background-image: url("https://img1.goodfon.com/wallpaper/nbig/3/36/night-stars-space-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  color: rgb(252, 223, 165);
}


.dashboard {
  font-size: 45pt;
  padding-top: 50px;
  text-align: center;
}

h2 {
  font-family: Fantasy;
  background-color: rgb(252, 223, 165);
  color: lightblue;
  text-align: center;
  font-size: xx-large;
}

h3 {
  font-family: Fantasy;
  background-color: rgb(252, 223, 165);
  color: rgb(45, 33, 191);
  text-align: center;
  font-size: xx-large;
}

h4 {
  font-family: Fantasy;
  background-color: rgb(252, 223, 165);
  color: rgb(45, 33, 191);
  text-align: center;
  font-size: xx-large;
}

.adminDiv {
  background-color: rgba(173, 233, 233, 0.534);
  border-radius: 20px;
  border: 3px solid rgb(11, 11, 94);
  padding:30px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  color: rgb(72, 25, 133);
  text-shadow: 2px 2px rgb(196, 233, 255);
  font-size: large;
}
